<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<%- include('../partials/header') %>
<section id="achievements" class="achievements-section">
  <div class="container">
    <h2>🏆 Achievements</h2>

    <div class="achievements-list">
      <div class="achievement-card">
        <h4>Internship with CodeAlpha</h4>
        <p>Better Experience and Achieved A certificate and LOR.</p>
        <a href="/CC.pdf" target="_blank">Completion certificate</a>
        <br>
        <a href="/LOR.pdf"  target="_blank">View LOR</a><br>
        <a href="./Codealpha.ejs">View projects</a>
      </div>

      <div class="achievement-card">
        <h4>Developed many Projects</h4>
        <p>Designed and deployed a real-time chat application using Node.js, Express, MongoDB, and Socket.io.</p>
        <a href="./projects.ejs">View All projects</a>
      </div>

      <div class="achievement-card">
        <h4>Hackathon Participation At SASI INSTITUTE OF TECHNOLOGY AND ENGINEERING</h4>
        <p>Led a 4-member team to the finals with a working prototype solving a real-world problem on Online interview System.</p>
        <a href="/Hackthon.png" target="_blank">View certificate</a>
      </div>

      <div class="achievement-card">
        <h4>Certifications</h4>
        <p>Achieved Many Certifications like java , c , python etc ..</p>
        <a href="./certificates.ejs">View all certificates</a>
      </div>
</section>
<%- include('../partials/footer') %>