<head>
    <link rel="stylesheet" href="css/style.css">
</head>
<%- include('../partials/header') %>
<section id="achievements" class="achievements-section">
  <div class="container">
    <h2>🏆 Achievements</h2>

    <div class="achievements-list">
    <div class="achievement-card">
        <h4>Certification on JAVA</h4>
        <p>Java certification With Great experience</p>
        <a href="/javacerti.png" target="_blank">View certificate</a>
      </div>
      <div class="achievement-card">
        <h4>Certification on Python</h4>
        <p>Python certification With Great experience</p>
        <a href="/python.png" target="_blank">View certificate</a>
      </div>
      <div class="achievement-card">
        <h4>Hackathon Participation At SASI INSTITUTE OF TECHNOLOGY AND ENGINEERING</h4>
        <p>Led a 4-member team to the finals with a working prototype solving a real-world problem on Online interview System.</p>
        <a href="/Hackthon.png" target="_blank">View certificate</a>

      </div>
    </div>
</div>
</section>
<%- include('../partials/footer') %>