<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <title>Projects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  </head>
  <body>
    <%- include('../partials/header') %>

    <section class="projects animate__animated animate__fadeInUp">
      <div class="container">
        <h1 class="animate__animated animate__fadeInDown">Internship Projects</h1>

        <div class="project-card animate__animated animate__zoomIn animate__delay-1s">
            <h2>🔹 Restaurant Management</h2>
            <p>Restaurant system to manage menu, orders, and tables (Node.js + MongoDB).<br>Admin password: admin123</p>
            <a href="https://codealpha-tasks-restaurant-management.onrender.com" target="_blank">Live Demo</a>
            <a href="https://github.com/revanth-1807/codealpha_tasks-restaurant_Management_system" target="_blank">GitHub</a>
          </div>
<br>
          <div class="project-card animate__animated animate__zoomIn animate__delay-2s">
            <h2>🔹 URL Shortner</h2>
            <p>A simple project to shorten Large URLs into small</p>
            <a href="https://codealpha-tasks-url-shortener-1.onrender.com" target="_blank">Live Demo</a>
            <a href="https://github.com/revanth-1807/codealpha_tasks-url-shortener" target="_blank">GitHub</a>
          </div>
          
          <!-- Add more project cards as needed -->
        </div>
      </div>
    </section>

    <%- include('../partials/footer') %>
  </body>
</html>
